name: Build EDK2 BaseTools

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout EDK2
      uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential uuid-dev iasl git nasm python3 python3-pip
        pip3 install --upgrade pip
        pip3 install -r pip-requirements.txt

    - name: Set environment variables
      run: |
        echo "WORKSPACE=$GITHUB_WORKSPACE" >> $GITHUB_ENV
        echo "EDK_TOOLS_PATH=$GITHUB_WORKSPACE/BaseTools" >> $GITHUB_ENV

    - name: Set up EDK2
      run: source edksetup.sh

    - name: Build BaseTools
      run: make -C BaseTools
